* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .signature-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .email-signature {
    width: 1000px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    padding: 10px 40px;
    position: relative;
    overflow: hidden;
  }
  .vertical-line {
    border: none;
    border-left: 2px solid #333;
    height: 200px;
    margin-left: 40px;
  }
  .image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    position: relative;
  }
  .image::before {
    content: '';
    position: absolute;
    height: 300px;
    top: -25px;
    right: 70%;
    width: 300px;
    border-radius: 50%;
  }
  .content {
    padding-left: 60px;
  }
  .name {
    padding-left: 10px;
    font-size: 25px;
    color: black;
  }
  .post {
    font-size: 15px;
    padding: 10px ;
    margin: 10px 5px;
    border-radius: 30px;
    background: #ccc;
    color: black;
    text-align: center;
    width: 400px;
  }
  .contact {
    margin-top: 30px;
  }
  .contact li {
    list-style: none;
    margin: 10px 0;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .contact li i {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    background: #2c3e50;
    margin-right: 10px;
    color: #fff;
  }
  .icons {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
  }
  .icons a {
    text-decoration: none;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #2c3e50;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0;
  }
  .icons a:hover {
    background: #333;
  }

  @media (max-width:768px) {
    .email-signature {
      flex-flow: column;
      width: 90%;
    }
    .vertical-line {
        display: none;
      }
    .image::before {
      width: 100%;
      top: -25%;
      left: 0;
    }
    .content {
      width: 100%;
      text-align: center;
      padding: 50px 0;
    }
    .icons {
      top: 93%;
      right: 0;
      width: 100%;
      flex-flow: row;
      justify-content: center;
    }
    .icons a {
      margin: 0 5px;
    }
  }